<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="myCommHeader(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">lxlTitle</title>
    <script th:src="@{/vue.js}"></script>
    <!--ajax方式请求后台-->
    <script th:src="@{/axios.min.js}"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet"  th:href="@{/lib/theme-chalk/index.css}">
    <!-- 引入组件库 -->
    <script th:src="@{/index.js}"></script>
</head>
<body>
</body>
</html>