<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.ComplaintsMapper">
  <resultMap id="BaseResultMap" type="com.aaa.entity.Complaints">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="customerId" jdbcType="INTEGER" property="customerid" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="numbers" jdbcType="VARCHAR" property="numbers" />
    <result column="opinions" jdbcType="VARCHAR" property="opinions" />
    <result column="describes" jdbcType="VARCHAR" property="describes" />
    <result column="theme" jdbcType="VARCHAR" property="theme" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="endtime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="degree" jdbcType="VARCHAR" property="degree" />
    <result column="way" jdbcType="VARCHAR" property="way" />
    <result column="connections" jdbcType="VARCHAR" property="connections" />
    <result column="recordId" jdbcType="INTEGER" property="recordid" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="isDel" jdbcType="INTEGER" property="isdel" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <insert id="insert" parameterType="com.aaa.entity.Complaints">
    insert into complaints (id, customerId, userId,
                            numbers, opinions, describes,
      theme, createtime, endtime, 
      status, degree, way,
                            connections, recordId, result,
      content, isDel, comment
      )
    values (#{id,jdbcType=INTEGER}, #{customerid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, 
      #{numbers,jdbcType=VARCHAR}, #{opinions,jdbcType=VARCHAR}, #{describes,jdbcType=VARCHAR},
      #{theme,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{degree,jdbcType=VARCHAR}, #{way,jdbcType=VARCHAR}, 
      #{connections,jdbcType=VARCHAR}, #{recordid,jdbcType=INTEGER}, #{result,jdbcType=VARCHAR},
      #{content,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aaa.entity.Complaints">
    insert into complaints
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerid != null">
        customerId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="numbers != null">
        numbers,
      </if>
      <if test="opinions != null">
        opinions,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="theme != null">
        theme,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="degree != null">
        degree,
      </if>
      <if test="way != null">
        way,
      </if>
      <if test="connections != null">
        connections,
      </if>
      <if test="recordid != null">
        recordId,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="isdel != null">
        isDel,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="numbers != null">
        #{numbers,jdbcType=VARCHAR},
      </if>
      <if test="opinions != null">
        #{opinions,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="theme != null">
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="way != null">
        #{way,jdbcType=VARCHAR},
      </if>
      <if test="connections != null">
        #{connections,jdbcType=VARCHAR},
      </if>
      <if test="recordid != null">
        #{recordid,jdbcType=INTEGER},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateInfo">
    update complaints set
    <trim suffixOverrides=",">
      <if test="status != null and status!=''">
        status=#{status,jdbcType=VARCHAR},
      </if>
    </trim>
    <if test="id != null">
      where id=#{id,jdbcType=INTEGER}
    </if>
  </update>
  <update id="submitResult" parameterType="com.aaa.entity.Complaints">
    update complaints set
    <trim suffixOverrides=",">
      <if test="status != null and status!=''">
        status=#{status,jdbcType=VARCHAR},
      </if>
      <if test="endid != null and endid!=''">
        endId=#{endid,jdbcType=INTEGER},
      </if>
      <if test="result != null and result!=''">
        result=#{result,jdbcType=VARCHAR},
      </if>
      <if test="endtime != null">
        endtime=#{endtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    <if test="id != null">
      where id=#{id,jdbcType=INTEGER}
    </if>
  </update>
  <select id="listComplaints" parameterType="map" resultType="com.aaa.entity.Complaints">
    select * from complaints where complaints.isDel=0
    <if test="id != null and id!=''">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="customerid != null and customerid!=''">
      and customerId = #{customerid,jdbcType=INTEGER}
    </if>
    <if test="userid != null and userid!=''">
      and userId = #{userid,jdbcType=INTEGER}
    </if>
    <if test="username != null and username!=''">
      and userId in (select id from user where name = #{username,jdbcType=VARCHAR})
    </if>
    <if test="numbers != null and numbers!=''">
      and numbers = #{numbers,jdbcType=VARCHAR}
    </if>
    <if test="opinions != null and opinions!=''">
      and opinions = #{opinions,jdbcType=VARCHAR}
    </if>
    <if test="describes != null and describes!=''">
      and describes = #{describes,jdbcType=VARCHAR}
    </if>
    <if test="theme != null and theme!=''">
      and theme = #{theme,jdbcType=VARCHAR}
    </if>
    <if test="createtime != null and createtime!=''">
      and createtime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="createtimea != null and createtimea!=''">
      and createtime &gt; #{createtimea,jdbcType=TIMESTAMP}
    </if>
    <if test="createtimeb != null and createtimeb!=''">
      and createtime &lt; #{createtimeb,jdbcType=TIMESTAMP}
    </if>
    <if test="endtime != null and endtime!=''">
      and endtime = #{endtime,jdbcType=TIMESTAMP}
    </if>
    <if test="endtimea != null and endtimea!=''">
      and endtime &gt; #{endtimea,jdbcType=TIMESTAMP}
    </if>
    <if test="endtimeb != null and endtimeb!=''">
      and endtime &lt; #{endtimeb,jdbcType=TIMESTAMP}
    </if>
    <if test="status != null and status!=''">
      and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="degree != null and degree!=''">
      and degree = #{degree,jdbcType=VARCHAR}
    </if>
    <if test="way != null and way!=''">
      and way = #{way,jdbcType=VARCHAR}
    </if>
    <if test="connections != null and connections!=''">
      and connections = #{connections,jdbcType=VARCHAR}
    </if>
    <if test="recordid != null and recordid!=''">
      and recordId = #{recordid,jdbcType=INTEGER}
    </if>
    <if test="result != null and result!=''">
      and result = #{result,jdbcType=VARCHAR}
    </if>
    <if test="content != null and content!=''">
      and content = #{content,jdbcType=VARCHAR}
    </if>
    <if test="isdel != null and isdel!=''">
      and isDel = #{isdel,jdbcType=VARCHAR}
    </if>
    <if test="comment != null and comment!=''">
      and comment = #{comment,jdbcType=VARCHAR}
    </if>
    <if test="orderNo!=null and orderNo != ''">
      order by ${orderNo}
      <if test="orderBy!=null and orderBy != ''">
        ${orderBy}
      </if>
    </if>
  </select>
  <select id="getCustomsById" parameterType="Integer" resultType="map">
    select * from customer where customerId=#{customerId}
  </select>
  <select id="getRecordById" parameterType="Integer" resultType="map">
    select * from user where id=#{id}
  </select>
  <select id="getTotalComplaints" parameterType="map" resultType="java.lang.Integer">
    select count(*) aa from complaints where complaints.isDel=0
    <if test="id != null and id!=''">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="customerid != null and customerid!=''">
      and customerId = #{customerid,jdbcType=INTEGER}
    </if>
    <if test="userid != null and userid!=''">
      and userId = #{userid,jdbcType=INTEGER}
    </if>
    <if test="username != null and username!=''">
      and userId in (select id from user where name = #{userid,jdbcType=INTEGER})
    </if>
    <if test="numbers != null and numbers!=''">
      and numbers = #{numbers,jdbcType=VARCHAR}
    </if>
    <if test="opinions != null and opinions!=''">
      and opinions = #{opinions,jdbcType=VARCHAR}
    </if>
    <if test="describes != null and describes!=''">
      and describes = #{describes,jdbcType=VARCHAR}
    </if>
    <if test="theme != null and theme!=''">
      and theme = #{theme,jdbcType=VARCHAR}
    </if>
    <if test="createtime != null and createtime!=''">
      and createtime = #{createtime,jdbcType=TIMESTAMP}
    </if>
    <if test="endtime != null and endtime!=''">
      and endtime = #{endtime,jdbcType=TIMESTAMP}
    </if>
    <if test="status != null and status!=''">
      and status = #{status,jdbcType=VARCHAR}
    </if>
    <if test="degree != null and degree!=''">
      and degree = #{degree,jdbcType=VARCHAR}
    </if>
    <if test="way != null and way!=''">
      and way = #{way,jdbcType=VARCHAR}
    </if>
    <if test="connections != null and connections!=''">
      and connections = #{connections,jdbcType=VARCHAR}
    </if>
    <if test="recordid != null and recordid!=''">
      and recordId = #{recordid,jdbcType=INTEGER}
    </if>
    <if test="result != null and result!=''">
      and result = #{result,jdbcType=VARCHAR}
    </if>
    <if test="content != null and content!=''">
      and content = #{content,jdbcType=VARCHAR}
    </if>
    <if test="isdel != null and isdel!=''">
      and isDel = #{isdel,jdbcType=VARCHAR}
    </if>
    <if test="comment != null and comment!=''">
      and comment = #{comment,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="listCustoms" resultType="map">
    select distinct customerName sname,customerId id from customer
  </select>
  <select id="listUsers" resultType="map">
    select distinct name sname,id id from user
  </select>
  <select id="addSeenYi" parameterType="String" resultType="map">
    select * from sorder where cord=#{cord}
  </select>
  <select id="addSeenEr" parameterType="String" resultType="map">
    select * from user where name=#{name}
  </select>
  <delete id="deleteComplaintsById" parameterType="Integer">
    update complaints set isDel=1 where id=#{id}
  </delete>
  <insert id="addComplaints" parameterType="com.aaa.entity.Complaints">
    insert into complaints
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerid != null">
        customerId,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="numbers != null">
        numbers,
      </if>
      <if test="opinions != null">
        opinions,
      </if>
      <if test="describes != null">
        describes,
      </if>
      <if test="theme != null">
        theme,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="endtime != null">
        endtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="degree != null">
        degree,
      </if>
      <if test="way != null">
        way,
      </if>
      <if test="connections != null">
        connections,
      </if>
      <if test="recordid != null">
        recordId,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="isdel != null">
        isDel,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="numbers != null">
        #{numbers,jdbcType=VARCHAR},
      </if>
      <if test="opinions != null">
        #{opinions,jdbcType=VARCHAR},
      </if>
      <if test="describes != null">
        #{describes,jdbcType=VARCHAR},
      </if>
      <if test="theme != null">
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="degree != null">
        #{degree,jdbcType=VARCHAR},
      </if>
      <if test="way != null">
        #{way,jdbcType=VARCHAR},
      </if>
      <if test="connections != null">
        #{connections,jdbcType=VARCHAR},
      </if>
      <if test="recordid != null">
        #{recordid,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="editComplaints" parameterType="com.aaa.entity.Complaints">
      update complaints set
      <trim suffixOverrides=",">
          <if test="customerid != null">
              customerId=#{customerid,jdbcType=INTEGER},
          </if>
          <if test="userid != null">
              userId=#{userid,jdbcType=INTEGER},
          </if>
          <if test="numbers != null">
              numbers=#{numbers,jdbcType=VARCHAR},
          </if>
          <if test="opinions != null">
              opinions=#{opinions,jdbcType=VARCHAR},
          </if>
          <if test="describes != null">
              describes=#{describes,jdbcType=VARCHAR},
          </if>
          <if test="theme != null">
              theme=#{theme,jdbcType=VARCHAR},
          </if>
          <if test="createtime != null">
              createtime=#{createtime,jdbcType=TIMESTAMP},
          </if>
          <if test="endtime != null">
              endtime=#{endtime,jdbcType=TIMESTAMP},
          </if>
          <if test="status != null">
              status=#{status,jdbcType=VARCHAR},
          </if>
          <if test="degree != null">
              degree=#{degree,jdbcType=VARCHAR},
          </if>
          <if test="way != null">
              way=#{way,jdbcType=VARCHAR},
          </if>
          <if test="connections != null">
              connections=#{connections,jdbcType=VARCHAR},
          </if>
          <if test="recordid != null">
              recordId=#{recordid,jdbcType=VARCHAR},
          </if>
          <if test="result != null">
              result=#{result,jdbcType=VARCHAR},
          </if>
          <if test="content != null">
              content=#{content,jdbcType=VARCHAR},
          </if>
          <if test="isdel != null">
              isDel=#{isdel,jdbcType=INTEGER},
          </if>
          <if test="comment != null">
              comment=#{comment,jdbcType=VARCHAR},
          </if>
      </trim>
      <if test="id != null">
          where id=#{id,jdbcType=INTEGER}
      </if>
  </update>
  <select id="useridStat" parameterType="com.aaa.entity.LxlEcharts" resultType="map">
    select c.userId,c.createtime,c.cou cou,u.name nam from (select userId,createtime,count(*) cou from complaints c where c.userId is not null group by c.userId) c,user u where c.userId=u.id
      <if test="start != null">
          and c.createtime &gt; #{start}
      </if>
      <if test="end != null">
          and c.createtime &lt; #{end}
      </if>
  </select>
  <select id="numbersStat" parameterType="com.aaa.entity.LxlEcharts" resultType="map">
    select c.numbers,c.cou cou,c.createtime,o.pid,p.make nam,p.line,p.type from (select numbers,createtime,count(*) cou from complaints c where c.numbers is not null group by c.numbers) c,sorder o,product p where c.numbers=o.cord and o.pid=p.pid
      <if test="start != null">
          and c.createtime &gt; #{start}
      </if>
      <if test="end != null">
          and c.createtime &lt; #{end}
      </if>
  </select>
  <select id="sortStat" parameterType="com.aaa.entity.LxlEcharts" resultType="map">
    select a.*,a.createtime,b.*,c.*,d.* from (select complaints.createtime,count(*) v from complaints where userId is not NULL) a,(select count(*) va from complaints where numbers is not NULL) b,(select count(*) val from complaints where opinions is not NULL) c,(select count(*) valu from complaints where describes is not NULL) d where 1=1
      <if test="start != null">
          and a.createtime &gt; #{start}
      </if>
      <if test="end != null">
          and a.createtime &lt; #{end}
      </if>
  </select>
  <select id="otherStat" parameterType="com.aaa.entity.LxlEcharts" resultType="map">
    select createtime,count(*) value from complaints where 1=1
      <if test="start != null">
          and complaints.createtime &gt; #{start}
      </if>
      <if test="end != null">
          and complaints.createtime &lt; #{end}
      </if>
      <if test="sort != null and sort!=''">
          GROUP BY ${sort} order by ${sort} asc
      </if>
  </select>
</mapper>