<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.dao.LRoleMapper">
	<select id="findAllRole" parameterType="map" resultType="com.aaa.entity.Role">
		select * from role where role.isDel=0 order by id desc
	</select>
	<delete id="delLRoleById" parameterType="int">
		update role set isDel=1 where id=#{id}
	</delete>
	<insert id="addLRole" parameterType="com.aaa.entity.Role">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="seq != null">
				seq,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				#{seq,jdbcType=TINYINT},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="editLRoleUser" parameterType="com.aaa.entity.Role">
		update role set
		<trim suffixOverrides=",">
			<if test="name != null">
				name=#{name,jdbcType=VARCHAR},
			</if>
			<if test="seq != null">
				seq=#{seq,jdbcType=TINYINT},
			</if>
			<if test="description != null">
				description=#{description,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status=#{status,jdbcType=TINYINT},
			</if>
		</trim>
		<if test="id != null">
			where id=#{id,jdbcType=BIGINT}
		</if>
	</update>
</mapper>